{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personagens Traduzidos</title>
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}">
</head>

<body>
    <div class="container">
        {% if personagens %}
        <table>
            <tr>
                <th class="personagem-card"><strong>Nome</strong></th>
                <th class="personagem-card"><strong>Afiliação</strong></th>
            </tr>
            {% for personagem in personagens%}
            <tr>
                <td class="personagem-card">{{ personagem.name}}</td>
                <td class="personagem-card">{{ personagem.affiliation}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>Nenhum personagem encontrado!</p>
        {% endif %}
    </div>
</body>

</html>